<% layout("/layouts/boilerplate") -%>
  <!-- <body> -->
  <div class="row">
    <div class="col-7 offset-2">
      <br /> <br />
    <h3>Create a New Listing</h3>
   
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="title" type="text" placeholder="Enter Title" class="form-control" required/>
        <div class="valid-feedback">Title Looks good!</div>
        <div class="invalid-feedback">Please enter the titile</div>
      </div>
    <br>
    <div class="mb-3">
      <label for="description" class="form-label" >Description</label>
      <textarea name="description" class="form-control" required></textarea>
      <div class="invalid-feedback">Please enter the short Description</div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Upload File</label>
      <input name="image" type="file"  placeholder="Upload the file" class="form-control"/>
    </div>
    <br> 
     <div class="row"> 
      
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="price" placeholder="1200" type="text" class="form-control" required/>
        <div class="invalid-feedback">Plaese enter valid Price</div>
      </div>
      <br>
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="country" placeholder="India" type="text" class="form-control" required />
        <div class="invalid-feedback">Please enter the Country Name</div>
      </div>
    </div>
      <br>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="location" placeholder="Ludhiana,Punjab" type="text" class="form-control" required />
        <div class="invalid-feedback">Location should be Valid</div>
      </div>
    <br>
    <button class="btn btn-dark add-btn">Add</button>
    <br /><br />
    </form>
    </div>
  </div>
  
